{
  "presets": [
    "es2015",
    "stage-2",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    ["babel-plugin-root-import", [{
      "rootPathPrefix": "~",
      "rootPathSuffix": "./"
    }]]
  ]
}
